<meta name="google-site-verification" content="6ITi_8ABCbTv8hCouNjnXz_zxGEXtVYkfDAuYAHaH2A">
<meta name="description" content="Conseil en travaux de menuiserie aluminium en d’aménagement,Extension,Rénovation,traitement de façade,Isolation acoustique et thermique,Cloisonnement">
<meta property="og:title" content="{{page.title}}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{page.url | prepend: site.sss }}">
<!-- <meta property="og:image" content="https://res.cloudinary.com/kbellioum/image/upload/v1496072295/kodus_w4mh2k.png"> -->
<meta property="og:image" content="{{ page.imageone }}">

{% if page.description %}
  <meta property="og:description" content="{{ page.description }}">
{% else %}
  <meta property="og:description" content="{{ site.description }}">
{% endif %}
<!-- <meta property="og:description" content="{{ page.description }}"> -->
