<section class="tg-main-section tg-haslayout parallax-window" data-appear-top-offset="600" data-parallax="scroll" data-image-src="{{ site.baseurl }}/assets/images/parallax-img/bg-parallax-02.jpg" id="apropos">
  <div class="container ">
    <div class="row">
      <div class="tg-testimonials tg-haslayout">
        <div class="col-sm-5">
          <!-- <div class="tg-testimonials-img">
            <figure><img src="{{site.baseurl}}/assets/images/img-02.png" alt="image description"></figure>
          </div> -->
        </div>
        <div class="col-lg-5 col-md-7 col-sm-7">
          <div id="tg-testi-slider" class="tg-testi-slider">
            <div class="item">
              <div class="tg-theme-heading">
                <h2>Kodus</h2>
                <span>A votre service</span>

              </div>
              <div class="tg-description">
                <blockquote>
                  <q>Conseil en travaux de menuiserie aluminium.</q>
                </blockquote>
              </div>
            </div>
            <div class="item">
              <div class="tg-theme-heading">
                <h2>Kodus</h2>
                <span>A votre service</span>
              </div>
              <div class="tg-description">
                <blockquote>
                  <q>Nous opérons dans les projets d’aménagement, Extension, Rénovation.</q>
                </blockquote>
              </div>
            </div>
            <div class="item">
              <div class="tg-theme-heading">
                <h2>Kodus</h2>
                <span>A votre service</span>
              </div>
              <div class="tg-description">
                <blockquote>
                  <q>Nous intervenons dans le traitement de façade, Isolation acoustique et thermique, Cloisonnement des espaces.</q>
                </blockquote>
              </div>
            </div>
            <div class="item">
              <div class="tg-theme-heading">
                <h2>Kodus</h2>
                <span>A votre service</span>
              </div>
              <div class="tg-description">
                <blockquote>
                  <q> Nous vous proposons la solution adéquate pour vos projets de Villas, Hôtels , Restaurants, Cafés et Appartements. </q>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
