<section class="tg-main-section tg-haslayout bg-white" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="tg-theme-heading">
          <span>NOS</span>
          <h2>COORDONNÉES</h2>
        </div>
<!-- code goes here   -->
<div class="tg-map-info tg-haslayout">
<div id="tg-map" class="tg-map">
</div>
<div class="container">
<div class="row">
<div class="contact-info tg-haslayout">
    <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="col-info">
            <p><i class="fa fa-map-marker"></i> 8, avenue Sijilmassi </p>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="col-info">
            <p><i class="fa fa-phone"></i> Tél: +212 522 390 097</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="col-info">
            <p><i class="fa fa-envelope"></i> <a href="mailto:contact@kodusdb.com" >Email: contact@kodusdb.com</a></p>
        </div>
    </div>
</div>
</div>
</div>

</div>
      </div>
    </div>
  </div>
</section>
