<section class="tg-main-section tg-haslayout bg-gray">
<div class="container">
<div class="row">
  <div class="col-xs-12">
    <div class="tg-theme-heading">
      <span>NOS</span>
      <h2>SECTEURS D'ACTIVITÉ</h2>
    </div>
  </div>
  <div class="col-xs-12">

    <div class="col-md-2 col-sm-6 marbo-resp aos-init" data-aos="flip-left" data-aos-duration="500">
		<a href="#"><div class="padding1 hover-shadow-color5">
        	<img src="{{ site.baseurl }}/assets/images/icon1.png" alt="" class="respoimg6 center" />
        	<h6 class="roboto small caps font-weight7 line-height2 margin-top margin-bottom text-center">Commercial</h6>
        </div></a>
    </div><!-- end col -->

    <div class="col-md-2 col-sm-6 marbo-resp aos-init" data-aos="flip-left" data-aos-duration="600">
		<a href="#"><div class="padding1 hover-shadow-color5">
        	<img src="{{ site.baseurl }}/assets/images/icon2.png" alt="" class="respoimg6 center" />
        	<h6 class="roboto small caps font-weight7 line-height2 margin-top margin-bottom text-center">Healthcare</h6>
        </div></a>
    </div><!-- end col -->

    <div class="col-md-2 col-sm-6 marbo-resp aos-init" data-aos="flip-left" data-aos-duration="700">
		<a href="#"><div class="padding1 hover-shadow-color5">
        	<img src="{{ site.baseurl }}/assets/images/icon3.png" alt="" class="respoimg6 center" />
        	<h6 class="roboto small caps font-weight7 line-height2 margin-top margin-bottom text-center">Entertainment</h6>
        </div></a>
    </div><!-- end col -->

    <div class="col-md-2 col-sm-6 marbo-resp aos-init" data-aos="flip-left" data-aos-duration="800">
		<a href="#"><div class="padding1 hover-shadow-color5">
        	<img src="{{ site.baseurl }}/assets/images/icon4.png" alt="" class="respoimg6 center" />
        	<h6 class="roboto small caps font-weight7 line-height2 margin-top margin-bottom text-center">Education</h6>
        </div></a>
    </div><!-- end col -->

    <div class="col-md-2 col-sm-6 marbo-resp14 aos-init" data-aos="flip-left" data-aos-duration="900">
		<a href="#"><div class="padding1 hover-shadow-color5">
        	<img src="{{ site.baseurl }}/assets/images/icon5.png" alt="" class="respoimg6 center" />
        	<h6 class="roboto small caps font-weight7 line-height2 margin-top margin-bottom text-center">Green Home</h6>
        </div></a>
    </div><!-- end col -->

    <div class="col-md-2 col-sm-6 aos-init" data-aos="flip-left" data-aos-duration="1000">
		<a href="#"><div class="padding1 hover-shadow-color5">
        	<img src="{{ site.baseurl }}/assets/images/icon6.png" alt="" class="respoimg6 center" />
        	<h6 class="roboto small caps font-weight7 line-height2 margin-top margin-bottom text-center">Restaurant</h6>
        </div></a>
    </div><!-- end col -->

    <div class="clearfix margin-bottom3"></div>

    <div class="col-md-2 col-sm-6 marbo-resp aos-init" data-aos="flip-right" data-aos-duration="500">
		<a href="#"><div class="padding1 hover-shadow-color5">
        	<img src="{{ site.baseurl }}/assets/images/icon7.png" alt="" class="respoimg6 center" />
        	<h6 class="roboto small caps font-weight7 line-height2 margin-top margin-bottom text-center">Interiors</h6>
        </div></a>
    </div><!-- end col -->

    <div class="col-md-2 col-sm-6 marbo-resp aos-init" data-aos="flip-right" data-aos-duration="600">
		<a href="#"><div class="padding1 hover-shadow-color5">
        	<img src="{{ site.baseurl }}/assets/images/icon8.png" alt="" class="respoimg6 center" />
        	<h6 class="roboto small caps font-weight7 line-height2 margin-top margin-bottom text-center">Residential</h6>
        </div></a>
    </div><!-- end col -->

    <div class="col-md-2 col-sm-6 marbo-resp aos-init" data-aos="flip-right" data-aos-duration="700">
		<a href="#"><div class="padding1 hover-shadow-color5">
        	<img src="{{ site.baseurl }}/assets/images/icon9.png" alt="" class="respoimg6 center" />
        	<h6 class="roboto small caps font-weight7 line-height2 margin-top margin-bottom text-center">Assembly</h6>
        </div></a>
    </div><!-- end col -->

    <div class="col-md-2 col-sm-6 marbo-resp aos-init" data-aos="flip-right" data-aos-duration="800">
		<a href="#"><div class="padding1 hover-shadow-color5">
        	<img src="{{ site.baseurl }}/assets/images/icon10.png" alt="" class="respoimg6 center" />
        	<h6 class="roboto small caps font-weight7 line-height2 margin-top margin-bottom text-center">Transportation</h6>
        </div></a>
    </div><!-- end col -->

    <div class="col-md-2 col-sm-6 marbo-resp14 aos-init" data-aos="flip-right" data-aos-duration="900">
		<a href="#"><div class="padding1 hover-shadow-color5">
        	<img src="{{ site.baseurl }}/assets/images/icon11.png" alt="" class="respoimg6 center" />
        	<h6 class="roboto small caps font-weight7 line-height2 margin-top margin-bottom text-center">Religious</h6>
        </div></a>
    </div><!-- end col -->

    <div class="col-md-2 col-sm-6 aos-init" data-aos="flip-right" data-aos-duration="1000">
		<a href="#"><div class="padding1 hover-shadow-color5">
        	<img src="{{ site.baseurl }}/assets/images/icon12.png" alt="" class="respoimg6 center" />
        	<h6 class="roboto small caps font-weight7 line-height2 margin-top margin-bottom text-center">Sports</h6>
        </div></a>
    </div><!-- end col -->
  </div>

</div>
</div>
</section>
