<section class="tg-main-section tg-haslayout bg-white" id="references">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="tg-theme-heading">
          <span>NOS</span>
          <h2>RÉFÉRENCES</h2>
        </div>
        <div class="tg-brands tg-haslayout">
							<div class="col-sm-3 col-xs-3 width-100">
								<figure><a href="#"><img src="{{ site.baseurl }}/assets/images/clients/df.png" alt="brand name"></a></figure>
							</div>
							<div class="col-sm-3 col-xs-3 width-100">
								<figure><a href="#"><img src="{{ site.baseurl }}/assets/images/clients/fck.png" alt="brand name"></a></figure>
							</div>
							<div class="col-sm-3 col-xs-3 width-100">
								<figure><a href="#"><img src="{{ site.baseurl }}/assets/images/clients/fg.png" alt="brand name"></a></figure>
							</div>
							<div class="col-sm-3 col-xs-3 width-100">
								<figure><a href="#"><img src="{{ site.baseurl }}/assets/images/clients/pf.png" alt="brand name"></a></figure>
							</div>
              <div class="col-sm-3 col-xs-3 width-100">
                <figure><a href="#"><img src="{{ site.baseurl }}/assets/images/clients/ph5.png" alt="brand name"></a></figure>
              </div>
              <div class="col-sm-3 col-xs-3 width-100">
                <figure><a href="#"><img src="{{ site.baseurl }}/assets/images/clients/pernod.png" alt="brand name"></a></figure>
              </div>
              <div class="col-sm-3 col-xs-3 width-100">
                <figure><a href="#"><img src="{{ site.baseurl }}/assets/images/clients/icemag.png" alt="brand name"></a></figure>
              </div>
              <div class="col-sm-3 col-xs-3 width-100">
                <figure><a href="#"><img src="{{ site.baseurl }}/assets/images/clients/bottu.gif" alt="brand name"></a></figure>
              </div>
				</div>
      </div>
    </div>
  </div>
</section>
