<section class="tg-main-section tg-haslayout bg-white" id="services">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="tg-theme-heading">
          <span>NOS</span>
          <h2>SERVICES</h2>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-md-4 col-sm-12 col-sm-offset-3 col-sm-12 col-md-offset-0 ">
          <div class="row">
            <div class="tg-service-img">
              <figure class="tg-img-border">
                <img src="{{ site.baseurl }}/assets/images/portfolio/img-01.jpg" alt="image description">
              </figure>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12 zero-right-padding">
          <div class="tg-services row">
            <div class="tg-service services-content tg-haslayout">
              <figure class="tg-sercice-img">
                <!-- <img src="images/img-04.jpg" alt="image description"> -->
              </figure>
              <div class="tg-border-topleft tg-haslayout">
                <div class="tg-displaytable">
                  <div class="tg-displaytablecell">
                    <span class="fa fa-users"></span>
                    <h3>Conseil</h3>
                    <div class="tg-description">
                      <p>Nous étudions et analysons avec soin votre projet et nous vous assurerons les meilleures conseils pour la pose de menuiserie.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tg-service tg-haslayout">
              <figure class="tg-sercice-img">
                <!-- <img src="images/img-04.jpg" alt="image description"> -->
              </figure>
              <div class="tg-border-topleft tg-haslayout">
                <div class="tg-displaytable">
                  <div class="tg-displaytablecell">
                    <span class="fa fa-magic"></span>
                    <h3>Design</h3>
                    <div class="tg-description">
                      <p>Nous vous proposons une conception innovante ainsi qu’un design raffiné.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tg-service tg-haslayout">
              <figure class="tg-sercice-img">
                <!-- <img src="images/img-04.jpg" alt="image description"> -->
              </figure>
              <div class="tg-border-topleft tg-haslayout">
                <div class="tg-displaytable">
                  <div class="tg-displaytablecell">
                    <span class="fa fa-suitcase"></span>
                    <h3>Service</h3>
                    <div class="tg-description">
                      <p>Soucieux de la qualité présentée à nos clients, nous vous accordons une garantie sur tous nos produits.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tg-service tg-haslayout">
              <figure class="tg-sercice-img">
                <!-- <img src="images/img-04.jpg" alt="image description"> -->
              </figure>
              <div class="tg-border-topleft tg-haslayout">
                <div class="tg-displaytable">
                  <div class="tg-displaytablecell">
                    <span class="fa fa-key"></span>
                    <h3>Solution</h3>
                    <div class="tg-description">
                      <p>Pour vos espaces de vie dispersée, nous vous apportons les solutions adéquates.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
