<div id="home-slider" class="home-slider">

    <div class="item">
        <figure>
            <img src="{{ site.baseurl }}/assets/images/home-slider/slider-img-02.jpg" alt="image slider">
        </figure>

        <div class="tg-banner-content">
            <!-- <div class="tg-border-bottomleft"> -->
            <!-- <h1>Conseil  <span>en menuiserie aluminium</span></h1> -->
            <!-- <h1>Virtually <span>bUILD yOUR</span> HOUSE</h1> -->
            <!-- </div> -->
            <!-- <center><a class="tg-theme-btn" href="#contact">Contacter nous</a></center> -->
        </div>
    </div>
    <div class="item">
        <figure>
            <img src="{{ site.baseurl }}/assets/images/home-slider/slider-img-03.jpg" alt="image slider">
        </figure>

        <div class="tg-banner-content">
            <!-- <div class="tg-border-bottomleft"> -->
            <!-- <h1>Conseil  <span>en menuiserie aluminium</span></h1> -->
            <!-- <h1>Virtually <span>bUILD yOUR</span> HOUSE</h1> -->
            <!-- </div> -->
            <!-- <center><a class="tg-theme-btn" href="#contact">Contacter nous</a></center> -->
        </div>
    </div>



</div>
