<footer id="footer" class="tg-haslayout">
  <div class="tg-main-section">
    <div class="container">
      <div class="row">
        <div class="tg-cols">
          <div class="col-sm-4 tg-colfirst-bgcolor">
            <div class="tg-col">
              <div class="tg-theme-heading">
                <h3>A propos</h3>
              </div>
              <strong class="logo">
                <a href="#">
                  <img src="{{ site.baseurl }}/assets/images/kodus.png" alt="kodus logo">
                </a>
              </strong>
              <div class="tg-description">
                <p>Notre différence, c’est mettre en évidence la vôtre.</p>
              </div>
              <ul class="tg-social-icon">
                <li><a href="https://www.facebook.com/KODUS-1677512582541261"><i class="fa fa-facebook"></i></a></li>
                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li> -->
                <li><a href="https://www.linkedin.com/in/kodus-maroc-425b93135"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4 tg-colmid-bgcolor">
            <div class="tg-col">
              <div class="tg-theme-heading">
                <h3>Dernières Nouvelles </h3>
              </div>
              <!-- <div class="tg-latest-post">
                <ul>
                  <li>
                    <span class="tg-date">04<i>Feb</i></span>
                    <div class="tg-post-contentbox">
                      <div class="tg-description">
                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium</p>
                      </div>
                      <div class="tg-post-meta">
                        <span><a href="#">26 Comments</a></span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <span class="tg-date">04<i>Feb</i></span>
                    <div class="tg-post-contentbox">
                      <div class="tg-description">
                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium</p>
                      </div>
                      <div class="tg-post-meta">
                        <span><a href="#">26 Comments</a></span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
          <div class="col-sm-4 tg-collast-bgcolor">
            <div class="tg-col">
              <div class="tg-theme-heading">
                <h3>Contacter nous</h3>
              </div>
              <div class="contact-info">
                <ul>
                  <li>
                    <span>Address:</span>
                    <span>8, avenue Sijilmassi -ex Phare, groupe Y - Bourgogne - 20040  Casablanca</span>
                  </li>
                  <li>
                    <span>Phone:</span>
                    <span>
                      <i>+212 522390097 - Bureau</i>
                      <!-- <i>+212 000000000 - Fax</i> -->
                    </span>
                  </li>
                  <li>
                    <span>Email:</span>
                    <span>
                      <i><a href="#">contact@kodusdb.com</a></i>
                      <!-- <i><a href="#">contact@kodusdb.com</a></i> -->
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tg-haslayout tg-footerbar-color">
    <div class="container">
      <div class="tg-footer-bar">
        <nav class="footer-nav">
          <ul>
            <li><a href="#apropos">A propos</a></li>
            <li><a href="#realisation">Réalisation</a></li>
            <li><a href="#galerie">Galerie</a></li>
            <li><a href="#references">Références</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
        <span class="copyright">&copy; 2015 | All Rights Reserved</span>
      </div>
    </div>
  </div>
</footer>
