<header id="header" class="tg-haslayout" data-spy="affix" data-offset-top="10">
  <div class="container">
    <strong class="logo">
      <a href="/">
        <img src="{{ site.logo }}" alt="kodus logo">
      </a>
    </strong>
    <div class="navigation-area">
      <nav id="nav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul id="menu">
            <li class="current-menu-item">
              <a href="#apropos">A propos</a>
            </li>
            <li >
              <a href="#realisations">Réalisations</a>
            </li>
            <!-- <li>
              <a href="#galerie">Galerie</a>
            </li> -->
            <li>
              <a href="#references">Références</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
