---
layout: page
title: My Blog
---

<div class="row">

</div>
<!-- This loops through the paginated posts -->
{% for item in site.blog %}
<div class="row">
   <div class="article">
    <div class="myimage">
      <img src="{{item.imageone}}" alt="">
    </div>
    <div class="texte">
      <div class="title"><h3>{{item.title}}</h3>           </div>
      <div class=""><span><small> {{ item.date | date: '%B %d, %Y' }} </small></span></div>
      <div class="txtarticle">
        <p>
          {{ item.txt1 }} <br>
          {{ item.txt2 }} <br>
          {{ item.txt3 }} <br>
        </p>

      </div>

      <div class="pull-right">
        <a href="{{item.url}}">Voir plus</a>
      </div>

    </div>


  </div>
</div>

  <hr>

{% endfor %}


<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
