<section class="tg-main-section tg-haslayout">
  <div class="container">
    <div class="row">
    <div class="col-xs-12">
      <div class="tg-theme-heading">
        <span>Article</span>
        <h2>{{ page.title }}</h2>
      </div>
    </div>
    <div class="tg-aboutus-section">
      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="tg-post">
          <div class="tg-post-img">
            <figure>
              <a href="#">
                <img src="{{site.baseurl}}/assets/images/projets/Ecole_Riyadh_Al_Andalousse/img-1.jpg" alt="image description">
              </a>
            </figure>

          </div>

        </div>

          <br>

            {{ page.txt1 }}
            {{ page.txt2 }}
            {{ page.txt3 }}

      </div>

    </div>
    </div>
  </div>
</section>
